WPFClient/Service References/WCFStoreServiceManager/StoreService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataManager.DMModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataManager.DMModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGood">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Good" nillable="true" type="tns:Good" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGood" nillable="true" type="tns:ArrayOfGood" />
  <xs:complexType name="Good">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="RegistrationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Good" nillable="true" type="tns:Good" />
</xs:schema>