WPFClient/Service References/WCFStoreServiceManager/StoreService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52449/StoreService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataManager.DMModel" />
  <xs:element name="Goods">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GoodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataManager.DMModel" minOccurs="0" name="GoodsResult" nillable="true" type="q1:ArrayOfGood" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGood">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGoodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataManager.DMModel" minOccurs="0" name="GetGoodResult" nillable="true" type="q2:Good" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGood">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataManager.DMModel" minOccurs="0" name="item" nillable="true" type="q3:Good" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGoodResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGood">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataManager.DMModel" minOccurs="0" name="item" nillable="true" type="q4:Good" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGoodResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>